
body {background-color:rgb(194, 229, 229)}

.DPV {
    font-weight: bold;
    color: green;
}

.DB {
    font-style: italic;
    color: purple;
}

.mayor {
    color: blue;
}

.DRS {
    color: orange;
    font-weight: bold;
}

.DES {
    color: red;
    font-style: italic;
}

.WZ {
    color:deeppink;
}

.stage {
    font-style: italic;
}