body {background-color: rgb(6, 15, 12)}

img {
    margin-left: 1in;
    position:absolute;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    color:chocolate;
    margin-left: 8in;
    margin-top: 1in;
}

.subtitle {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    color:chocolate;
    margin-left: 8in;
    margin-top: -0.2in;
}

.lyrics {
    margin-left: 8in;
    color:wheat;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
}